<div id="<%= dom_id donation %>">
  <p>
    <strong>Amount:</strong>
    <%= donation.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= donation.user.name %>
  </p>

  <p>
    <strong>Church:</strong>
    <%= donation.church.name %>
  </p>

</div>
